<h5>user signup </h5>

 <% if @user.errors.any? %>
  <h2>The following errors prevented the user from being saved</h2>
  <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
<% end %> 

     
    <%= form_with scope: :user, url: users_path, local: true do |f| %>
      <p> 
        <%= f.label :name %><br/> 
        <%= f.text_field :name,Placeholder: "enter your name" %>
      </p>
      <p>
        <%= f.label :email %><br/> 
        <%= f.email_field :email, Placeholder: "enter your mail" %> 
      </p>

       <p>
        <%= f.label :password_digest %><br/> 
        <%= f.password_field :password_digest, Placeholder: "enter new password" %> 
      </p>

    <p>
       <%= f.label :gender %><br/> 
        <%= f.text_field :gender, Placeholder: "enter your gender" %> 
      </p>

    <p>
        <%= f.submit %> 
      </p>
    <% end %>

    <%= link_to 'Return to user detail', users_path %>
