<!DOCTYPE html>
<html>
  <head>
    <title>Project1</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>

  
    <li><%= link_to 'Log in', login_path %></li>
    <li><%= link_to 'Logout', logout_path, data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %>










    <% flash.each do |name, msg| %>
      <%= msg %>
    <% end %> 
    <%= yield %>
  </body>
</html>
